.education {
  margin-bottom: 20px;
}

.education h3 {
  font-size: 1.5em;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.education p {
  margin: 5px 0;
}

.education ul {
  list-style-type: none;
  padding: 0;
}
