.overview {
  margin-bottom: 20px;
}

.overview h3 {
  font-size: 1.5em;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.overview p {
  margin: 5px 0;
}

.overview ul {
  list-style-type: none;
  padding: 0;
}
